<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ title }}</title>
    <!-- Ваши стили здесь -->
</head>
<body>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
        <td>
            <!-- Ваш первый кусок текста -->
            <p>Dear {{ userName }},</p>
            <p>Welcome to Depo Magazines! We're glad you've become a part of our online community.</p>
            <p>Below, you'll find your login details for our website:</p>
            <p>Login: {{ login }}</p>
            <p>Password: {{ password }}</p>
            <p>Please keep these details in a secure place and do not share them with anyone. You can use this information to log in to your Depo Magazines account.</p>
            <p>If you have any questions, encounter any issues, or would like to share your feedback, please feel free to contact our support team. We are here to assist you.</p>
            <p>Best regards,<br>The Depo Magazines Team</p>
            <p>Email: <a href="mailto:support@depo.salerow.software">support@depo.salerow.software</a></p>
            <p>Website: <a href="https://depo.salerow.software/">https://depo.salerow.software/</a></p>
            <!-- Конец вашего первого куска текста -->
        </td>
    </tr>
</table>
<!-- Остальная часть вашего HTML-шаблона здесь -->
</body>
</html>