<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Welcome to Depo Magazines</title>
</head>

<body style="background-color: #f6f6f6; font-family: sans-serif; -webkit-font-smoothing: antialiased; font-size: 14px; line-height: 1.4; margin: 0; padding: 0;">
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #f6f6f6; width: 100%;" width="100%" bgcolor="#f6f6f6">
    <tr>
        <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">&nbsp;</td>
        <td class="container" style="font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; max-width: 580px; padding: 10px; width: 580px; margin: 0 auto;" width="580">
            <div class="content" style="box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px; padding: 10px;">
                <table role="presentation" class="main" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background: #ffffff; border-radius: 3px; width: 100%;" width="100%">
                    <tr>
                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;">
                                <tr>
                                    <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">
                                        <p>Dear {{ name }},</p>
                                        <p>Welcome to Depo Magazines! We're glad you've become a part of our online community.</p>
                                        <p>Below, you'll find your login details for our website:</p>
                                        <p><strong>Login: {{ accountEmail }}</strong></p>
                                        <p><strong>Password: {{ password }}</strong></p>
                                        <p>Please keep these details in a secure place and do not share them with anyone. You can use this information to log in to your Depo Magazines account.</p>
                                        <p>If you have any questions, encounter any issues, or would like to share your feedback, please feel free to contact our support team. We are here to assist you.</p>
                                        <p>Best regards,</p>
                                        <p>The Depo Magazines Team</p>
                                        <p><strong>Website:</strong> <a href="https://depo.salerow.software/">https://depo.salerow.software/</a></p>
                                        <p><strong>Email:</strong> <a href="mailto:support@depo.salerow.software">support@depo.salerow.software</a></p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">&nbsp;</td>
    </tr>
</table>
</body>
</html>
