<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ title }}</title>
    <!-- Ваши стили здесь -->
</head>
<body>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
        <td>
            <!-- Ваш первый кусок текста -->
            <p>Dear {{ name }},</p>
            <p>You've requested a password reset for your account on our website. Here's your new temporary password:</p>
            <p>New Password: {{ password }}</p>
            <p>Please remember this is temporary. For security, change it in your profile.</p>
            <p>Best regards,<br>The Depo Magazines Team</p>
            <p>Website: <a href="https://depo.salerow.software/">https://depo.salerow.software/</a></p>
            <p>Email: <a href="mailto:support@depo.salerow.software">support@depo.salerow.software</a></p>
            <!-- Конец вашего первого куска текста -->
        </td>
    </tr>
</table>
<!-- Остальная часть вашего HTML-шаблона здесь -->
</body>
</html>